<div class="container">
  <h1>Person</h1>
  <hr>

  <ul>
    <li>
      <% if @person.alive %>
        Name: <%= @person.name %>
      <% else %>
        Name: <%= @person.name %>, deceased
      <% end %>
    </li>
    <li>Age: <%= @person.age %></li>
    <li>Gender: <%= @person.gender %></li>
    <li>Hair Color: <%= @person.hair_color %></li>
    <li>Eye Color: <%= @person.eye_color %></li>
  </ul>

  <%= link_to 'Back', people_path, class: 'btn btn-info' %>
  <%= link_to 'Edit', edit_person_path, class: 'btn btn-info' %>
  <%= link_to 'Delete', person_path(@person), method: :delete,
                                              data:{ confirm: 'Are you sure?' },
                                              class: 'btn btn-danger' %>

  <h2>All Notes</h2>
  <%= render @person.notes %>

  <h2>New Note</h2>
  <%= render 'notes/form' %>

</div>
